<section class="book_list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="book_list_title">
          <h1 class="text-info">{{title}}</h1>
          <span class="text-muted">List of available books</span>

          <div class="d-flex-inline float-right">
            <a
              href="/create-new-book"
              class="btn btn-info"
              title="Add New Book"
            >
              <i class="fa fa-plus"></i>
            </a>
          </div>
          <hr />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6" *ngFor="let book of books; let i =index">
        <div class="card">
          <a (click)="viewBookDetails(book.id)">
            <img
              class="card-img-top"
              src="{{book.bookImage}}"
              alt="{{book.title}}"
          /></a>
          <div class="card-body">
            <h4 class="card-title text-info">
              {{book.title}} &nbsp;
              <small class="badge badge-info"># {{i + 1}}</small>
            </h4>
            <p class="card-text">
              {{book.description}}
            </p>

            <hr />
            <p class="card-text text-muted">
              <b> Price: </b>
              &nbsp;
              <span class="text-price">${{book.price}}</span>
            </p>
            <p class="card-text text-muted">
              <b> ISBN: </b>
              <span class=""> {{book.isbn}}</span>
            </p>
            <p class="card-text text-muted">
              <b> Auhor: </b>
              <span class=""> {{book.author}}</span>
            </p>
            <hr />
            <button
              class="btn btn-outline-secondary btn-sm mr-2"
              (click)="viewBookDetails(book.id)"
            >
              VIEW Course Details
            </button>

            <button
              class="btn btn-outline-success btn-sm"
              (click)="viewBookDetails(book.id)"
            >
              BUY
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
