.home_courses {
  position: relative;

  .card {
    position: relative;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    margin-bottom: 30px;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid #f00;
      transform: scale(1.1, 1.1);

    }
  }
}
