<section class="book_details">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-info">
                    {{title}} <span class="text-muted">{{book.title}}</span>
                </h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <img src="{{book.bookImage}}" alt="{{book.title}}" style="max-height: 350px; width: 100%;" />
            </div>
            <div class="col-lg-6">
                <h4>
                    Book Title: &nbsp; <span class="text-muted">{{book.title}}</span>
                </h4>
                <hr />
                <p>
                    <b>Book ISBN:</b>
                    <span class="text-muted">&nbsp; {{book.isbn | uppercase}}</span>
                </p>
                <hr />
                <p>
                    <b>Book Details:</b>
                    <span class="text-muted">&nbsp; {{book.description}}</span>
                </p>
                <hr />
                <p>
                    <b>Author:</b>
                    <span class="text-muted">&nbsp; {{book.author | uppercase}}</span>
                </p>
                <hr />
                <p>
                    <b>Price:</b> <span class="text-muted">&nbsp; {{book.price}}</span>
                </p>
                <hr />
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-6">
                <h4>Actions</h4>
                <button class="btn btn-outline-primary mr-2" (click)="editBook(book.id)">
                    Edit
                </button>
                <button class="btn btn-outline-danger mr-2" (click)="deleteBook(book.id)">
                    Delete
                </button>
                <a href="/books" class="btn btn-success mr-2">Cancel</a>
            </div>
            <div class="col-lg-6">
                <h4>Your Cart</h4>
                <i class="fa fa-shopping-cart pull-right" style="margin-top: -20px;"></i>
                <hr />
                <button class="btn btn-outline-warning btn-block btn-lg" (click)="addToCart(book.id)">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                    Add to Cart
                </button>
            </div>
        </div>
    </div>
</section>
