<section class="contact_us">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h1 class="text-info">{{title}}</h1>
        <hr />
        <form #validateForm="ngForm" action="#" method="POST">
          <div class="form-group">
            <label for="firstName">First Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter first name"
              name="firstName"
              id="firstName"
              required
            />
          </div>
          <div class="form-group">
            <label for="lastName">Last Name</label>
            <input
              type="text"
              class="form-control"
              placeholder="Enter last name"
              name="lastName"
              id="lastName"
              required
            />
          </div>

          <div class="form-group">
            <label for="email">Email address</label>
            <input
              type="email"
              class="form-control"
              placeholder="Enter email address"
              name="email"
              id="email"
              required
            />
          </div>

          <div class="form-group">
            <label for="email">Message</label>
            <textarea
              class="form-control"
              placeholder="Enter your message"
              name="message"
              id="message"
              cols="8"
              rows="8"
              required
            ></textarea>
          </div>

          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!validateForm.valid"
          >
            Submit
          </button>
        </form>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
