<section class="employee_list">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="employee_list_title">
          <h2 class="text-info">{{title}}</h2>
          <span class="text-muted">List of all employees</span>
          <div class="employee_create_form d-flex-inline float-right">
            <a
              href="/create-employee"
              class="btn btn-info"
              title="Create New Employee"
            >
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>

        <div class="form-group">
          <input
            type="text"
            [(ngModel)]="EmployeeName"
            class="form-control"
            placeholder="Search employee by name"
            style="border-radius: 50px;"
          />
        </div>
        <span class="text-muted"> {{EmployeeName | uppercase}}</span>

        <br />
        <br />

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>ID #</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let employee of employees | filter:EmployeeName  | paginate: { id: 'listing_pagination',
                                                      itemsPerPage: 8,
                                                      currentPage: page,
                                                      totalItems: totalRecords }   let i =index "
              >
                <td>{{employee.id}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.email}}</td>
                <td>{{employee.phone}}</td>
                <td>
                  <button
                    (click)="viewEmployee(employee.id)"
                    class="btn btn-outline-primary btn-sm"
                  >
                    <i class="fa fa-eye" aria-hidden="true"></i>
                  </button>
                </td>

                <td>
                  <button
                    (click)="updateEmployee(employee.id)"
                    class="btn btn-outline-info btn-sm"
                  >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>
                </td>

                <td>
                  <button
                    (click)="deleteEmployee(employee.id)"
                    class="btn btn-outline-danger btn-sm"
                  >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- Start of Pagination -->
          <pagination-controls
            id="listing_pagination"
            (pageChange)="page = $event"
            maxSize="4"
            directionLinks="true"
            autoHide="true"
            responsive="true"
            previousLabel="Previous"
            nextLabel="Next"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"
          >
          </pagination-controls>
          <!-- End of Pagination -->
        </div>
      </div>
    </div>
  </div>
</section>
