<section class="employee_list">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="employee_list_title">
          <h2 class="text-info">{{title}}</h2>
          <span class="text-muted">List of all employees</span>
          <div class="employee_create_form d-flex-inline float-right">
            <a
              href="/create-employee"
              class="btn btn-info"
              title="Create New Employee"
            >
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>

        <div class="table-responsive-sm">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>ID #</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>View</th>
                <th></th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let employee of employees; let i =index">
                <td>{{employee.id}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.email}}</td>
                <td>
                  <a href="/employees/{{employee.id}}" class="text-primary">
                    <i class="fa fa-book" aria-hidden="true"></i>
                    View
                  </a>
                </td>

                <td>
                  <a
                    href="/update-employee/{{employee.id}}"
                    (click)="updateEmployee(employee.id)"
                    class="text-info"
                  >
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    Edit
                  </a>
                </td>

                <td>
                  <a href="/employees/{{employee.id}}" class="text-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                    Delete
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
