.page_footer{
    width: 100%;
     display: block;
     background-color: #ccc;
     color: #888;
     height: 60px;
     line-height: 60px;
     margin-top: 50%;
     position: absolute;

    p{
        font-size: 12px;
       
    }
}